body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.header {
  background-color: #770505;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #770505;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #000000;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  margin: 10px;
  border: 3px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
  width: calc(20% - 20px); /* Define a largura das imagens */
}

.gallery img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .gallery {
    width: calc(50% - 20px); /* Altera a largura das imagens para telas menores */
  }
}

@media only screen and (max-width: 480px) {
  .gallery {
    width: calc(100% - 20px); /* Altera a largura das imagens para telas pequenas (como celulares) */
  }
}