/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.header {
  background-color: #770505;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.topnav {
  background-color: #770505;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #dddddd;
  color: #000;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
}

.gallery {
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow: hidden;
  width: calc(16.66% - 20px); /* Colunas de 6 */
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: flex-start;
  }
}
